<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>itemAdd</title>
    
</head>
<body>
    <div id="wrap">
        <form align="center" method="post">
            <h4>품번 <input type="text" name="name" size="10px"></h4>
            <h4>품명 <input type="text" name="name" size="10px"></h4>
            <h4>규격 <input type="text" name="name" size="10px"></h4>
            <h4>계정구분 <input type="text" name="name" size="10px"></h4>
            <h4>사용여부 <input type="text" name="name" size="10px"></h4>
            <h4>LEAD TIME <input type="text" name="name" size="10px"> DAYS</h4>
            <h4>안전재고량 <input type="text" name="name" size="10px"></h4>
            <h4>주거래처 <input type="text" name="name" size="10px"></h4> 
        </form>  
</div>         
</body>
</html>